@keyframes pulse {
    0% {
        width: 150px;
    } 
    100% {
        width: 250px;
    }
}

html {
    height: 100%;
}

body {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

body.scam {
    background-color: red;
}

p, span, a, h2, h3, li {
    font-family: Arial, Helvetica, sans-serif;
}

.tnr {
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: "Impact";
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 50%;
    padding: 20px;
}

body.scam .main {
    background-color: white;
}

body.tips .main {
    border-left: gray solid 1px;
    border-right: gray solid 1px;
}

h2 {
    color: #a62830;
}

div.disclaimer {
    margin: 20px;
    background-color: lightblue;
    border: cornflowerblue solid 2px;
    border-radius: 10px;
    padding-left: 10px;
}

.dl {
    animation: pulse 2s ease-in-out 0s infinite alternate;
}

.holder {
    height: 500px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.r {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.r img {
    height: 100%;
    width: 33%;
}